.blocoLista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    align-items: center;
}
body{
    background-color: black;
}
header{
    color: white;
    background-color: black;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: top;
}